@model Web.ViewModels.BaseViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    content here.
</div>



@section scripts
{
    <script src="~/Scripts/home_index.js"></script>
}
